# Core
timm==0.9.16
einops==0.8.0
opencv-python==4.9.0.80
scikit-learn==1.4.2
pandas==2.2.2
matplotlib==3.8.4
seaborn==0.13.2
tqdm==4.66.4
wandb==0.18.0

# Model tools
thop==0.1.1.post2209072238
ptflops==0.7.0
onnxsim==0.4.36
fvcore==0.1.6.post20240503
omegaconf==2.3.0
fpdf2==2.8.0
plotly==5.22.0
